@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Manrope', sans-serif;


}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: black;
  color: white;
  padding: 20px;

  h1 {
    font-size: 30px;

    &::first-letter {
      color: red;
    }
  }

  h2,
  h3 {
    text-align: center;
    padding: 15px 0;
  }

  ul {
    display: flex;
    gap: 5px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 9px;
        font-weight: bold;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: red;
          color: black;
        }
      }
    }
  }



}

main {
  padding: 15px 60px;

  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    text-align: center;

    .card-game img {
      height: 350px;
      width: 100%;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }
  }


}